a {
    cursor: pointer;
}

.recipe-img {
    background-color: white;
    left: 20%;
    width: 60%;
    transform: translateY(5%);
    margin: 1rem 0;
}

.recipe-detail {
    /* background-image: url(../../../assets/image/a.jpg);
    background-position: center; */
    padding: 1rem;
}